<h1>Chart.js</h1>
<pre>
Initial Chunk Files           | Names               |  Raw Size | Estimated Transfer Size
main.6a05ebf19a4ec8ed.js      | main                | 261.84 kB |                70.56 kB
polyfills.99a5e1d9f3a0e936.js | polyfills           |  33.07 kB |                10.68 kB
runtime.b3605812a7bfc40a.js   | runtime             |   2.75 kB |                 1.31 kB
styles.ef46db3751d8e999.css   | styles              |   0 bytes |                       -

                              | Initial Total       | 297.66 kB |                82.55 kB

Lazy Chunk Files              | Names               |  Raw Size | Estimated Transfer Size
600.7f8e17b3207a2e32.js       | line-line-component | 170.28 kB |                51.61 kB
426.e9c5881f0ed81faa.js       | bars-bars-component |   1.05 kB |               589 bytes
148.2741f6a16146078e.js       | line-line-component | 742 bytes |               460 bytes
</pre>
<ul>
  <li>
    <a [routerLink]="'/linechart'">Line Chart</a>
  </li>
  <li>
    <a [routerLink]="'/barchart'">Bars Chart</a>
  </li>
</ul>

<router-outlet></router-outlet>
