<h1>Billboard.js</h1>
<pre>
Initial Chunk Files           | Names               |  Raw Size | Estimated Transfer Size
main.0e696e10e7093b18.js      | main                | 261.99 kB |                70.48 kB
polyfills.ed8b336214856621.js | polyfills           |  33.07 kB |                10.63 kB
styles.e619d257a128d5b1.css   | styles              |   3.33 kB |               968 bytes
runtime.a0f79ff54ea7ed95.js   | runtime             |   2.76 kB |                 1.31 kB

                              | Initial Total       | 301.15 kB |                83.36 kB

Lazy Chunk Files              | Names               |  Raw Size | Estimated Transfer Size
51.d61e958426062e03.js        | line-line-component | 273.66 kB |                75.91 kB
426.0471ecd64ebef772.js       | bars-bars-component |   1.03 kB |               494 bytes
148.868c0fc6b1aca648.js       | line-line-component | 811 bytes |               432 bytes
</pre>
<ul>
  <li>
    <a [routerLink]="'/linechart'">Line Chart</a>
  </li>
  <li>
    <a [routerLink]="'/barchart'">Bars Chart</a>
  </li>
</ul>

<router-outlet></router-outlet>
