<h1>ApexCharts</h1>
<pre>
Initial Chunk Files           | Names               |  Raw Size | Estimated Transfer Size
main.f082ac944de2e618.js      | main                | 260.96 kB |                70.28 kB
polyfills.74633c8c235396d2.js | polyfills           |  33.07 kB |                10.67 kB
runtime.9e0818a465d1064e.js   | runtime             |   2.76 kB |                 1.31 kB
styles.ef46db3751d8e999.css   | styles              |   0 bytes |                       -

                              | Initial Total       | 296.79 kB |                82.26 kB

Lazy Chunk Files              | Names               |  Raw Size | Estimated Transfer Size
597.fd4a944a76bf775a.js       | line-line-component | 478.82 kB |               103.33 kB
148.2772b7e6f11f37ea.js       | line-line-component | 660 bytes |               404 bytes
426.3a273037e8039e24.js       | bars-bars-component | 650 bytes |               388 bytes

</pre>
<ul>
  <li>
    <a [routerLink]="'/linechart'">Line Chart</a>
  </li>
  <li>
    <a [routerLink]="'/barchart'">Bars Chart</a>
  </li>
</ul>

<router-outlet></router-outlet>
