<h1>Chart.js</h1>
<pre>
Initial Chunk Files           | Names               |  Raw Size | Estimated Transfer Size
main.2297fd6082912cea.js      | main                | 261.96 kB |                70.67 kB
polyfills.8b1e956e752cf8bd.js | polyfills           |  33.07 kB |                10.67 kB
runtime.e67ca0acf4dee196.js   | runtime             |   2.75 kB |                 1.31 kB
styles.ef46db3751d8e999.css   | styles              |   0 bytes |                       -

                              | Initial Total       | 297.79 kB |                82.66 kB

Lazy Chunk Files              | Names               |  Raw Size | Estimated Transfer Size
233.a320d1af70042366.js       | line-line-component | 428.43 kB |               126.80 kB
320.3a490806e281d325.js       | line-line-component |  45.61 kB |                16.19 kB
953.c75d331ea312007f.js       | bars-bars-component |  16.64 kB |                 5.79 kB


</pre>
<ul>
  <li>
    <a [routerLink]="'/linechart'">Line Chart</a>
  </li>
  <li>
    <a [routerLink]="'/barchart'">Bars Chart</a>
  </li>
</ul>

<router-outlet></router-outlet>
